<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tracked_site.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tracked_site.url %>
</p>

<%= link_to 'Edit', edit_tracked_site_path(@tracked_site) %> |
<%= link_to 'Back', tracked_sites_path %>
